#include <windows.h>
#include "resource.h"


IDD_TOSTER DIALOG 0, 0, 200, 500
    CAPTION "Toster 1.41"
    FONT 8, "Arial"
BEGIN

    LTEXT       "", IDC_CONSOLE, 10, 10, 100, 100

    LTEXT       "", IDC_NAME01, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE01, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR01, 10, 10, 100, 10

    LTEXT       "", IDC_NAME02, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE02, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR02, 10, 10, 100, 10

    LTEXT       "", IDC_NAME03, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE03, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR03, 10, 10, 100, 10

    LTEXT       "", IDC_NAME04, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE04, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR04, 10, 10, 100, 10

    LTEXT       "", IDC_NAME05, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE05, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR05, 10, 10, 100, 10

    LTEXT       "", IDC_NAME06, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE06, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR06, 10, 10, 100, 10

    LTEXT       "", IDC_NAME07, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE07, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR07, 10, 10, 100, 10

    LTEXT       "", IDC_NAME08, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE08, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR08, 10, 10, 100, 10

    LTEXT       "", IDC_NAME09, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE09, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR09, 10, 10, 100, 10

    LTEXT       "", IDC_NAME10, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE10, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR10, 10, 10, 100, 10

    LTEXT       "", IDC_NAME11, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE11, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR11, 10, 10, 100, 10

    LTEXT       "", IDC_NAME12, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE12, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR12, 10, 10, 100, 10

    LTEXT       "", IDC_NAME13, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE13, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR13, 10, 10, 100, 10

    LTEXT       "", IDC_NAME14, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE14, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR14, 10, 10, 100, 10

    LTEXT       "", IDC_NAME15, 10, 10, 100, 100
    LTEXT       "", IDC_VALUE15, 10, 10, 100, 100
    SCROLLBAR   IDC_SCROLLBAR15, 10, 10, 100, 10

    LTEXT       "", IDC_COLOR0, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR1, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR2, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR3, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR4, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR5, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR6, 10, 10, 100, 100

    LTEXT       "", IDC_COLOR7, 10, 10, 100, 100

    LTEXT       "", IDC_LISTNAME1, 10, 10, 100, 100
    COMBOBOX    IDC_LIST1, 10, 10, 100, 100, CBS_DROPDOWNLIST

    LTEXT       "", IDC_LISTNAME2, 10, 10, 100, 100
    COMBOBOX    IDC_LIST2, 10, 10, 100, 100, CBS_DROPDOWNLIST

    LTEXT       "", IDC_LISTNAME3, 10, 10, 100, 100
    COMBOBOX    IDC_LIST3, 10, 10, 100, 100, CBS_DROPDOWNLIST

    PUSHBUTTON  "apply", IDC_APPLY, 10, 10, 100, 100
    PUSHBUTTON  "save", IDC_SAVE, 10, 10, 100, 100
    PUSHBUTTON  "load", IDC_LOAD, 10, 10, 100, 100
    AUTOCHECKBOX    "instant change", IDC_INSTANTCHANGE, 10, 10, 100, 100

END
